font-face {
    font-family: 'Inter';
    src: url('../assets/fonts/Inter-Regular.woff') format('woff');
    font-family: 'Inter Bold';
    src: url('../assets/fonts/Inter-Bold.woff') format('woff');
}


body {
    font-family: 'Inter';
}

input {
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    padding: 13px 21px 13px 21px;
    width: 90vw;
    height: 6vh;
}

.contactsContent {
    display: flex;
}

.contactsCart {
    margin: 5vw 5vw 0 5vw;
}

.contactsHeader {
    position: relative;
}

.contactsHeaderh1 {
    font-size: 61px;
    font-weight: 700;
}

.contactsHeaderspan {
    font-size: 27px;
    font-weight: 400;
}

.contactsHeaderDektop {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.verticalLine {
    border: solid 3px #29ABE2;
    height: 59px;
}


.backArrow {
    position: absolute;
    right: 3px;
    top: 3px;
}

.aEmail {
    text-decoration: underline;
    color: blue;
}

.aPhone {
    text-decoration: none;
    color: black;
}

.name {
    display: flex;
    align-items: end;
    gap: 10px;
}

.circle {
    width: 60px;
    height: 60px;
    border: solid 3px white;
    border-radius: 70px;
    background-color: orange;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
}

.contactsMenu {
    position: fixed;
    right: 10px;
    bottom: 90px;
    height: 47px;
}

.addContactMenu {
    position: fixed;
    right: 10px;
    bottom: 90px;
    height: 47px;
}


.createContactOverlay {
    /* margin-left: 5vw;
    margin-right: 5vw;
    position: fixed;
    top: 80px;
    bottom: 76px;
    background-color: white;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;*/

    position: fixed;
    bottom: -100%;
    left: 0;
    width: 100%;
    background-color: white;
    padding: 20px;
    max-height: 0;
    overflow: hidden;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    transition: max-height 0.4s ease-in-out, top 0.4s ease-in-out;

}


.createContactOverlay.show {
    bottom: 76px;
    max-height: 1000px;
    /* Höchstwert für max-height, um das Overlay einzublenden */
    top: 80px;
    /* Top-Position beibehalten */
}

.createContactOverlay.hide {
    max-height: 0;
    /* Overlay ausblenden */
    top: 100vh;
    /* Zurück zur Startposition unten */
}

.contactsHeaderOverlay {
    background-color: #2A3647;
    color: white;
    padding: 66px 24px 66px 24px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    margin-bottom: -50px;
    height: 260px;
    position: relative;
}

.overlayLogo {
    width: 55.6px;
    height: 66.48px;
    display: none;
}

.close {
    position: absolute;
    right: 20px;
    top: 25px;
}

.createContactProfile {
    display: flex;
    justify-content: center;
    background-color: none;
}

.contactsFooterOverlay {
    background-color: white;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    margin-top: -30px;
    padding-top: 45px;
}

.inputArea {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.buttonDiv {
    width: 80vw;
    display: flex;
    justify-content: center;
    padding: 16px;
}

.createButton {
    background-color: #2A3647;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 16px;
    gap: 4px;
    display: flex;
    align-items: center;
}

.z12 {
    z-index: 12;
}

.circleoverlay {
    height: 120px;
    width: 120px;
}

.inputName {
    background: url(../assets/img/person_input_name.svg) no-repeat scroll 7px 7px;
    background-position: 95%;
}

.inputMail {
    background: url(../assets/img/mail_inpit_mail.svg) no-repeat scroll 7px 7px;
    background-position: 95%;
}

.inputTel {
    background: url(../assets/img/call_input_tel.svg) no-repeat scroll 7px 7px;
    background-position: 95%;
}

.addButtonDiv {
    display: none;
}

.cancelButton {
    width: 126px;
    height: 56px;
    border: 1px solid #2A3647;
    border-radius: 10px;
    padding: 16px;
    gap: 4px;
    background-color: #ffffff;
    display: none;
    color: #2A3647;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

.addButton {
    background-color: #2A3647;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 16px;
    gap: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 95%;
}

.closeResponsive {
    position: absolute;
    width: 32px;
    height: 32px;
    top: 48px;
    right: 70px;
    border-radius: 56px;
}

/* Chat GPT */

.dd-none {
    display: none;
}

.contacts-container {
    background-color: #ffffff;
    padding: 20px;
    padding-bottom: 80px;
    overflow-y: scroll;
}

.contact-letter {
    font-size: 24px;
    font-weight: bold;
    padding-left: 40px;
}

.letter-line {
    border: none;
    border-top: 2px solid #ccc;
    margin: 5px 0;
}

.contacts-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 95%;
    padding-left: 5px;
}

.contact:hover {
    background-color: #2A3647;
    color: white;
}

.contact {
    padding: 5px 0 5px 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
}

.nameDiv {
    display: flex;
    flex-direction: column;
}

.colorLink {
    color: #007CEE !important;
}

.leftDiv {
    width: 100%
}

.rightDiv {
    width: 0;

}


@media (min-width: 750px) {
    input {
        width: 422px;
    }

    .addButtonDiv {
        display: flex;
        justify-content: center;
        padding: 20px;
    }

    .buttonDiv {
        width: 100%;
        justify-content: space-between;
    }


    .leftDiv {
        width: 40%;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 4px 0px;
    }

    .rightDiv {
        display: block;
        width: 60%;
        background-color: #f6f7f8;
    }

    .contacts-container {
        padding-bottom: 0px;
        height: calc(100vh - 192px);
    }

    .addContactMenu {
        display: none;
    }

    .createContactOverlay {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 592px;
        width: 1212px;
        left: calc((100vw - 1212px)/2);
        padding: 0;
        border-radius: 30px;
    }

    .overlayLogo {
        display: unset;
    }


    .createContactOverlay.show {
        top: calc((100vh - 592px)/2);
    }

    .contactsHeaderOverlay {
        background-color: #2A3647;
        color: white;
        padding: 66px 24px 66px 24px;
        border-top-left-radius: 30px;
        margin-bottom: 0;
        height: 100%;
        width: 467px;
        display: flex;
        flex-direction: column;
        align-items: baseline;
        justify-content: center;
    }

    .contactsFooterOverlay {
        margin-top: 90px;
        padding-right: 70px;
    }

    .close {
        display: none;

    }

    .cancelButton {
        display: flex;
    }

    .closeResponsive:hover {
        background-color: lightgray;
    }
}