/* Header start*/
header {
    box-shadow: 0px 4px 4px 0px #0000001A;
}

.headCircle {
    width: 40px;
    height: 40px;
    border: 2px solid rgb(42, 54, 71);
    border-radius: 100%;
}

.initials {
    color: rgb(41, 171, 226);
    text-decoration: none;
}

.headImg {
    height: 39px;
    width: 32px;
}

.toolName {
    display: none;
}

.iconHelp {
    display: none;
}

@media (min-width: 555px) {
    .toolName {
        display: block;
    }

    .headImg {
        display: none;
    }

    .iconHelp {
        display: block;
    }

    .headerleftContainer {
        display: flex;
        align-items: center;
        gap: 16px;
        width: 104px;
        height: 56px;
    }
}

/* Header end*/

/*Footer start*/
.footer {
    display: flex;
    background-color: #2A3647;
    color: white;
    position: absolute;
    left: 0;
    right: 0;
    justify-content: space-around;
}

.footerElement {
    display: flex;
    flex-direction: column;
}

.footerElementDesktop{
    display: none;
}


@media (min-width: 750px) {
    .footer {
        display: flex;
        flex-direction: column;
        background-color: #2A3647;
        color: white;
        position: fixed;
        left: 0;
        top: 0;
        bottom: 0;
        width: 131px;
        justify-content: space-around;
        z-index: 30;
    }

    .footerElement {
        display: flex;
        flex-direction: column;
        display: none;
    }

}

/*Footer end*/