/*global*/
a {
    text-decoration: none;
    color: white;
}

/* Header start*/
header {
    box-shadow: 0px 4px 4px 0px #0000001A;
    
}
.headerContainer{
    height: 80px;
    padding: 20px 16px;
}

.headCircle {
    width: 40px;
    height: 40px;
    border: 2px solid rgb(42, 54, 71);
    border-radius: 100%;
}

.initials {
    color: rgb(41, 171, 226);
    text-decoration: none;
}

.headImg {
    height: 39px;
    width: 32px;
}

.toolName {
    display: none;
}

.iconHelp {
    display: none;
}

@media (min-width: 750px) {
    .toolName {
        display: block;
        font-size: 20px;
    }

    .headImg {
        display: none;
    }

    .iconHelp {
        display: block;
    }

    .headerContainer {
        height: 96px;
        padding: 20px 40px 20px 116px
    }

    .headerRightContainer {
        display: flex;
        align-items: center;
        gap: 16px;
        /* width: 104px; */
        height: 56px;
    }
}

/* Header end*/

/*Footer start*/
.footer {
    display: flex;
    background-color: #2A3647;
    color: white;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: space-around;
}

.footerElement {
    display: flex;
    flex-direction: column;
}

.footerDesktop {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.footerElementDesktop {
    /*display: none;*/
    display: flex;
    align-items: center;
    gap: 16px;
}

.footerDesktopMiddle {
    gap: 15px;
    display: flex;
    flex-direction: column;
}

.colorGrey {
    color: #A8A8A8;
}


@media (min-width: 750px) {
    #idBackgroundContainer {
        /* neu */
        display: flex;
        /* neu */
        flex-direction: row-reverse;
        /* neu */
        justify-content: flex-end;
        max-width: 1440px;
    }

    #idHeaderBody {
        flex: 1;
    }

    .footer {
        display: flex;
        flex-direction: column;
        background-color: #2A3647;
        color: white;

        position: inherit;
        /* neu */
        height: 100vh;
        /* neu */
        /*  position: fixed; 
        left: 0;
        top: 0;
        bottom: 0; */
        width: 200px;
        justify-content: space-around;
        align-items: center;
        z-index: 30;
    }

    .footerElement {
        display: flex;
        flex-direction: column;
        display: none;
    }

}

@media (max-width: 750px) {
    .footerDesktop {
        display: none;
    }
}

/*Footer end*/