.singleTaskContainer{
    width: 244px; /* hier muss ich noch schaun, dass die Breite passt wegen dem Schatten */
    height: 263px; /* das hier muss auf auto später */
    box-shadow: 0px 0px 10px 3px #00000014;
    padding: 16px;
    border-radius: 24px;
    background-color: white;
}

.singlTaskType{
    display: flex;
    align-items: center;
    height: 27px;
    width: fit-content;
    border-radius: 8px;
    padding: 4px 16px 4px 16px;
    background: #0038FF;
    color: white;
    font-size: 16px;
    font-weight: 400;
}

.singelTaskTexts{
    margin: 24px 0;
}
.singleTaskHeadline{
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 8px;
}
.singleTaskTxt{
    font-size: 16px;
    font-weight: 400;
    color: #A8A8A8;
}
.TaskSubTask{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
}
.SingleTaskSubProgress{
    height: 8px;
    width: 128px;
    border-radius: 8px;
    background-color: aqua; /*  #F4F4F4;*/
}
.SingleTaksCount{
    font-size: 12px;
    font-weight: 400;
}
.SingleTaskMemberPrio{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 32px;
    width: 220px;
}
.SingleTaskPrio img{
    width: 26px;
}
.SingleTaskMember{
    display: flex;
    align-items: center;
    justify-content: center;
}
.memberPlaceholder{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: 400;
    border: 1px solid white;
    border-radius: 100%;
    height: 30px;
    width: 30px;
}
#idMemberPlaceholder1{
    background-color: aquamarine;
}
#idMemberPlaceholder2{
    background-color: teal;
    margin-left: -6px;
}
#idMemberPlaceholder3{
    background-color: blueviolet;
    margin-left: -6px;
}

