/*Footer*/
.footer{
    display: flex;
    background-color: #2A3647;
    color: white;
    position: absolute;
    left: 0;
    right: 0;
    justify-content: space-around;
}

.footerElement{
    display: flex;
    flex-direction: column;
}