<div class="d-flex justify-content-between px-2 py-3 ">
  <div id="headerRight">
    <div role="button" href="index.html">
      <img class="headImg" src="../assets/favicon/favicon-32x32.png" alt="JoinIcon">
    </div>
    <div class="toolName">
      <p>Kanban Project Management Tool</p>
    </div>
  </div>
  <div id="headerleft" class="headerleftContainer">
    <a id="helpIcon"  href="help.html" class="iconHelp">
      <img class="headHelpImg" src="../assets/img/headerHelp.svg" alt="helpIcon">
    </a>
    <a href="contacts.html" class="initials">
      <div class="headCircle d-flex justify-content-center align-items-center">
        <div id="userIntials">
        </div>
      </div>
    </a>
  </div>
</div>